sphinx==6.2.1
sphinx-autobuild
pydata_sphinx_theme
# 拼写检查
sphinxcontrib.spelling
# 类型提示支持
sphinx-autodoc-typehints
# 代码片段复制按钮
sphinx_copybutton
# Markdown 解析器
myst-parser
sphinx-subfigure
sphinxcontrib-video
sphinx-togglebutton
sphinx_design
